<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koronet Team</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 50px;
        }
    </style>
</head>

<body>
    <h1>Hi Koronet Team</h1>
    <p>This page has been visited {{ postgres_visits }} times (PostgreSQL count).</p>
    <p>Total visits: {{ redis_visits }} (Redis count).</p>
</body>

</html>